##################################
# full IP address block scan for:
# - {{ address_blocks|list|join('\n# - ') }}
# 
# using excludes from:
# - {{ tests_directory }}/known-ips.list
# 
# c.f. https://nmap.org/book/man-host-discovery.html
##################################

{#- without a namespace variables set in a loop would not persist outside of it -#}
{%- set ns = namespace() -%}
{%- set ns.ipv4 = [] -%}
{%- set ns.ipv6 = [] -%}

{#
  TODO: support address ranges!
  TODO: c.f. https://nmap.org/book/man-target-specification.html
#}
{% for b in address_blocks %}
  {% if b|ipv4 %}
    {{ ns.ipv4.append(b) }}
  {% elif b|ipv6 %}
    {{ ns.ipv6.append(b) }}
  {% else %}
    {# TODO: wat do? #}
  {% endif %}
{% endfor %}

#
# scan all configured IPv4 addresses, ignoring IPs from the known/ignored IPs list, and from the per-block config
{% for ipaddrs in ns.ipv4 %}
@test "no unexpected IPv4 addresses up in {{ ipaddrs }}" {

  {% if address_blocks[ipaddrs] == 'skip' %}

    skip "skipping as per config"
    
  {% elif not ansible_facts.default_ipv4|length %}
  
    skip "IPv4 networking is not available"
  
  {% else %}

    function full_ipv4_scan {
    
        # get a tempfile
        BATSIBLE_TEMPFILE="$( mktemp /tmp/BATSIBLE_TEMPFILE_BLOCKSCAN_IPV4.XXXXX )"
        
        # run a full block scan
        nmap -T5 \
          --excludefile "{{ tests_directory }}/known-ips.list" \
          {% if address_blocks[ipaddrs] is iterable and 'ignore_ips' in address_blocks[ipaddrs] -%}
          --exclude "{{ address_blocks[ipaddrs].ignore_ips|join(',') }}" \
          {% endif -%}
          {{ipaddrs}} -oN - > "$BATSIBLE_TEMPFILE" 2>&1
        
        grep -B 1 'Host is up' "$BATSIBLE_TEMPFILE"
        
        # cleanup
        rm "$BATSIBLE_TEMPFILE"
    }
    
    run full_ipv4_scan
    echo "$output"
    [ "$status" -eq 1 ]
    
  {% endif -%}
}
{% endfor %}


#
# scan all configured IPv6 addresses, ignoring IPs from the known/ignored IPs list, and from the per-block config
{% for ipaddrs in ns.ipv6 %}
@test "no unexpected IPv6 addresses up in {{ ipaddrs }}" {

  {% if address_blocks[ipaddrs] == 'skip' %}

    skip "skipping as per config"
    
  {% elif not ansible_facts.default_ipv6|length %}
  
    skip "IPv6 networking is not available"
  
  {% else %}

    function full_ipv6_scan {
    
        # get a tempfile
        BATSIBLE_TEMPFILE="$( mktemp /tmp/BATSIBLE_TEMPFILE_BLOCKSCAN_IPV.XXXXX )"
        
        # run a full block scan
        nmap -6 -T5 \
          --excludefile "{{ tests_directory }}/known-ips.list" \
          {% if address_blocks[ipaddrs] is iterable and 'ignore_ips' in address_blocks[ipaddrs] -%}
          --exclude "{{ address_blocks[ipaddrs].ignore_ips|join(',') }}" \
          {% endif -%}
          {{ipaddrs}} -oN - > "$BATSIBLE_TEMPFILE" 2>&1
        
        grep -B 1 'Host is up' "$BATSIBLE_TEMPFILE"
        
        # cleanup
        rm "$BATSIBLE_TEMPFILE"
    }
    
    run full_ipv6_scan
    echo "$output"
    [ "$status" -eq 1 ]
    
  {% endif -%}
}
{% endfor %}
