##################################
# domain      : {{ tested_zone_domain }}
# all domains : {{ zone_domains|join(', ') }}
# zone        : {{ tested_zone }}
# hostnames   :
# - {{ tested_hostnames|join('\n# - ') }}
##################################

function test_cname_unambiguous {
    DIG_OUTPUT=$( dig CNAME $1 )
    echo "$DIG_OUTPUT"
    [ "`echo "$DIG_OUTPUT" | grep CNAME | egrep -c "^$1"`" -lt 2 ]
}

function follow_cname_chain {
      
    CURNAME="$1"
    LASTNAME=""
    FULLCHAIN="RESOLVING $1"$'\n'
    echo "RESOLVING $1"
    
    while [[ "$CURNAME" != "" ]]; do
        
        # bookkeeping
        LASTNAME="$CURNAME"
        
        # next link in the chain
        CURNAME="$( dig +noheader +nocomments +noquestion +noauthority +nostats +nocmd +noadditional CNAME "$CURNAME" | egrep "^$CURNAME" | tr '\t' ' ' | sed -r -e 's/^.+CNAME +(.+)\.$/\1/' | head -n 1 )"
        
        if [[ "$CURNAME" != "" ]]; then
            echo "CNAME $CURNAME"
            # book keeping
            FULLCHAIN="${FULLCHAIN}CNAME ${CURNAME}"$'\n'
            
            # check for loops
            if [[ "$CURNAME" == "$1" ]]; then
                echo "LOOP!"
                return 1
            fi
        fi
    done
    
    # we have the last name (that was not resolved) in $LASTNAME
    # let's try to resolve it
    dig +noheader +nocomments +noquestion +noauthority +nostats +nocmd +noadditional A "$LASTNAME" | tr '\t' ' ' | sed -r -e 's/^.+A +/A /'
    dig +noheader +nocomments +noquestion +noauthority +nostats +nocmd +noadditional AAAA "$LASTNAME" | tr '\t' ' ' | sed -r -e 's/^.+AAAA +/AAAA /'
}


{%- for tested_hostname in tested_hostnames -%}
  {%- set batsible_cnamechain_results_varname = "BATSIBLE_CNAMECHAIN_%s" % tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_') %}
  
if [ -z "${{batsible_cnamechain_results_varname}}" ]; then
  # put the output in an envvar
  export {{batsible_cnamechain_results_varname}}="$( follow_cname_chain "{{tested_hostname}}" )"
  export {{batsible_cnamechain_results_varname}}_IS_CNAMED="$( echo "${{batsible_cnamechain_results_varname}}" | grep -c '^CNAME' || true )"
fi


#
# do we have *any* record associated with the hostname
@test "[zone:{{ tested_zone }}] {{ tested_hostname }} has an A, AAAA, or CNAME record" {
    
    # wrap stuff in a function so that we can use it in a more sane way in BATS
    function test_if_has_records {
        echo "${{batsible_cnamechain_results_varname}}" | wc -l
    }
    run test_if_has_records
    echo "${{batsible_cnamechain_results_varname}}" # let's make sure we have *some* debugging output
    [ "$output" -gt 1 ]

}


#
# if there are CNAMEs involved, make sure they are not ambiguous
@test "[zone:{{ tested_zone }}] {{ tested_hostname }} does not have an ambiguous CNAME" {

    if [[ "${{batsible_cnamechain_results_varname}}_IS_CNAMED" -lt 1 ]]; then
        skip "{{ tested_hostname }} does not have a CNAME"
    fi
    
    run test_cname_unambiguous "{{ tested_hostname }}"
    echo "$output"
    [ "$status" -eq 0 ]

}

#
# if there is a CNAME chain involved, make sure it's not looped
@test "[zone:{{ tested_zone }}] {{ tested_hostname }}'s CNAME chain is not looped" {

    if [[ "${{batsible_cnamechain_results_varname}}_IS_CNAMED" -lt 1 ]]; then
        skip "{{ tested_hostname }} does not have a CNAME"
    fi
    # wrap stuff in a function so that we can use it in a more sane way in BATS
    function test_if_looped {
        echo "${{batsible_cnamechain_results_varname}}" | grep -c '^LOOP!'
    }
    run test_if_looped
    echo "${{batsible_cnamechain_results_varname}}" # let's make sure we have *some* debugging output
    [ "$status" -ne 0 ]

}

#
# if there is a CNAME involved, make sure it resolves at all
@test "[zone:{{ tested_zone }}] {{ tested_hostname }}'s CNAME resolves" {

    if [[ "${{batsible_cnamechain_results_varname}}_IS_CNAMED" -lt 1 ]]; then
        skip "{{ tested_hostname }} does not have a CNAME"
    fi
    # wrap stuff in a function so that we can use it in a more sane way in BATS
    function test_if_resolves {
        echo "${{batsible_cnamechain_results_varname}}" | egrep -c '^(A|AAAA) '
    }
    run test_if_resolves
    echo "${{batsible_cnamechain_results_varname}}" # let's make sure we have *some* debugging output
    [ "$status" -eq 0 ]

}

#
# if there are CNAMEs involved, make sure they resolve within the configured domains
@test "[zone:{{ tested_zone }}] {{ tested_hostname }}'s CNAME resolves within the configured domains" {

    if [[ "${{batsible_cnamechain_results_varname}}_IS_CNAMED" -lt 1 ]]; then
        skip "{{ tested_hostname }} does not have a CNAME"
    fi
    # wrap stuff in a function so that we can use it in a more sane way in BATS
    function test_if_within_zones {
      echo "${{batsible_cnamechain_results_varname}}" | grep '^CNAME' | egrep -v '({{zone_domains|join('|')}})'
    }
    run test_if_within_zones
    echo "${{batsible_cnamechain_results_varname}}" # let's make sure we have *some* debugging output
    [ "$status" -ne 0 ]
    
}


#
# if there is a CNAME chain involved, make sure it's not longer than 3 steps
@test "[zone:{{ tested_zone }}] {{ tested_hostname }}'s CNAME chain is not longer than 3" {

    if [[ "${{batsible_cnamechain_results_varname}}_IS_CNAMED" -lt 1 ]]; then
        skip "{{ tested_hostname }} does not have a CNAME"
    fi
    
    # wrap stuff in a function so that we can use it in a more sane way in BATS
    function test_if_long_chain {
        echo "${{batsible_cnamechain_results_varname}}" | grep -c '^CNAME'
    }
    run test_if_long_chain
    echo "${{batsible_cnamechain_results_varname}}" # let's make sure we have *some* debugging output
    [ "$output" -lt 3 ]

}

{%- endfor -%}
