##################################
{% set tested_hostnames_string = test_settings.tested_hostnames|join(', ') -%}
# IP address : {{ test_settings.tested_address }}
# hostnames  : {{ tested_hostnames_string }}
# zone       : {{ tested_zone }}
#
# host settings assembled from (in order):
# - {{ test_settings.settings_stack | join('\n# - ') }}
#
{{ test_settings.tested_host_settings | to_nice_yaml | comment -}}
##################################

#
# check if it resolves
@test "[zone:{{ tested_zone }}] {{tested_hostnames_string}} should{{ '' if test_settings.tested_host_settings.resolve else ' not' }} resolve as {{test_settings.tested_address}}" {

    {% if test_settings.tested_host_settings.skip -%}
    skip "{{ test_settings.tested_address }} [{{tested_hostnames_string}}] is to be skipped altogether"
    {%- elif test_settings.tested_host_settings.resolve == 'skip' -%}
    skip "resolve test is to be skipped for {{ test_settings.tested_address }} [{{tested_hostnames_string}}]"

    {#- do we want to scan private networks and loopback? -#}
    {%- elif not test_settings.tested_host_settings.scan_private_addresses and test_settings.tested_address|ipaddr('private') -%}
    skip "{{ test_settings.tested_address }} is in a private network and private networks are not to be scanned as per settings"
    {#- there is no loopback filter in Ansible, but if an address is not private and not public, that's a loopback! -#}
    {%- elif not test_settings.tested_host_settings.scan_loopback and not test_settings.tested_address|ipaddr('public') and not test_settings.tested_address|ipaddr('private') -%}
    skip "{{ test_settings.tested_address }} is a loopback address and loopback addresses are not to be scanned as per settings"
    {#- do we want to scan the probing host's own address? -#}
    {%- elif not test_settings.tested_host_settings.scan_own_addresses and ( ( test_settings.tested_address in ansible_facts.all_ipv4_addresses ) or ( test_settings.tested_address in ansible_facts.all_ipv6_addresses ) ) -%}
    skip "{{ test_settings.tested_address }} is this prober's own IP address and own addresses are not to be scanned as per settings"

    {%- else -%}

    function test_resolve {
        # check if the output contains the IP address we are looking for
        {%- if test_settings.tested_address|ipv4 -%}
            {%- for tested_hostname in test_settings.tested_hostnames -%}
                    {#- IPv4 #}

        dig +short A {{tested_hostname}} | grep "{{test_settings.tested_address}}" >/dev/null 2>&1 {% if not loop.last %}{{ '&&' if test_settings.tested_host_settings.resolve else '||' }}{% endif %}

            {%- endfor -%}
        {%- elif test_settings.tested_address|ipv6 -%}
            {%- for tested_hostname in test_settings.tested_hostnames -%}
                    {#- IPv6 #}

        dig +short AAAA {{tested_hostname}} | grep "{{test_settings.tested_address}}" >/dev/null 2>&1 {% if not loop.last %}{{ '&&' if test_settings.tested_host_settings.resolve else '||' }}{% endif %}

            {%- endfor -%}
        {%- endif %}

    }
    run test_resolve
    echo "$output"
    [ "$status" -eq {{ '0' if test_settings.tested_host_settings.resolve else '1' }} ]

    {%- endif %}

}


# check if it pings
@test "[zone:{{ tested_zone }}] {{test_settings.tested_address}} [{{tested_hostnames_string}}] should{{ '' if test_settings.tested_host_settings.ping else ' not' }} ping" {

    {%- if test_settings.skip != "" %}

    {{test_settings.skip}}

    {%- elif test_settings.tested_host_settings.ping == 'skip' %}

    skip "ping test for is to be skipped for {{ test_settings.tested_address }} [{{tested_hostnames_string}}]"

    {%- else -%}

        {#- IPv4 -#}
        {%- if test_settings.tested_address|ipv4 -%}

            {%- if ansible_facts.os_family == "Debian" %}

    run ping -n -c 3 -i 0.2 -w 1 -W 0.5 -q {{test_settings.tested_address}}

            {%- elif ansible_facts.os_family == "FreeBSD" %}

    run ping -n -c 3 -i 0.2 -t 1 -W 0.5 -q {{test_settings.tested_address}}

            {%- else %}

    skip "Unsupported OS: {{ansible_facts.os_family}}"

            {%- endif -%}

        {#- IPv6 -#}
        {%- elif test_settings.tested_address|ipv6 -%}

            {%- if ansible_facts.os_family == "Debian" %}

    run ping -n -6 -c 3 -i 0.2 -w 1 -W 0.5 -q {{test_settings.tested_address}}

            {%- elif ansible_facts.os_family == "FreeBSD" %}

    run ping6 -n -c 3 -i 0.2 -X 1 -x 0.5 -q {{test_settings.tested_address}}

            {%- else %}

    skip "Unsupported OS: {{ansible_facts.os_family}}"

            {%- endif -%}

        {%- endif %}

        {%- if ansible_facts.os_family == "Debian" %}

    echo "$output" | grep -v 'rtt min/avg/max/mdev' # removing timing data to limit the noise
    [ "$status" -eq {{ '0' if test_settings.tested_host_settings.ping else '1' }} ]

        {%- elif ansible_facts.os_family == "FreeBSD" %}

    echo "$output" | grep -v 'round-trip min/avg/max/std' # removing timing data to limit the noise
    [ "$status" -eq {{ '0' if test_settings.tested_host_settings.ping else '2' }} ]

        {%- else %}

    skip "Unsupported OS: {{ansible_facts.os_family}}"

        {%- endif -%}
    {%- endif %}

}


# check if TCP ports that are supposed to be open, are
# 
# this can lead to mildly surprising results when a port is expected to be open,
# is not filtered, but there is no service running on it, in which case it is `closed`
# which in turn means that it will show as "closed" here
# 
@test "[zone:{{ tested_zone }}] TCP ports {{ test_settings.tested_host_settings.ports.tcp|join(', ') if ( (test_settings.tested_host_settings.ports.tcp != 'skip') and (test_settings.tested_host_settings.ports.tcp|length) ) else "<none>" }} should be open on {{test_settings.tested_address}} [{{tested_hostnames_string}}]" {

    {%- if test_settings.skip != "" %}

    {{test_settings.skip}}

    {%- elif test_settings.tested_host_settings.ports.tcp == 'skip' %}

    skip "expected-open TCP ports test is to be skipped for {{ test_settings.tested_address }} [{{tested_hostnames_string}}]"

    {%- else -%}
        {%- if test_settings.tested_host_settings.ports.tcp|length %}

    function test_ports {

            {%- if test_settings.tested_address|ipv4 %}

        SCAN_RESULT="$( nmap -Pn -p{{ test_settings.tested_host_settings.ports.tcp|join(',') }} -T5 -oN - {{test_settings.tested_address}} )"

            {%- elif test_settings.tested_address|ipv6 %}

        SCAN_RESULT="$( nmap -6 -Pn -p{{ test_settings.tested_host_settings.ports.tcp|join(',') }} -T5 -oN - {{test_settings.tested_address}} )"

            {%- endif %}

        echo "$SCAN_RESULT" | egrep '^({{ test_settings.tested_host_settings.ports.tcp|join('|') }})/tcp ' | egrep '^({{ test_settings.tested_host_settings.ports.tcp|join('|') }})/tcp +(filtered|closed)'
    }
    run test_ports
    echo "$output"
    [ "$status" -eq 1 ]

        {%- else %}

    skip "No TCP ports are supposed to be open"

        {%- endif -%}
    {%- endif %}

}


# check if any unexpected TCP ports are not filtered
@test "[zone:{{ tested_zone }}] all TCP ports{{ " other than " ~ test_settings.tested_host_settings.ports.tcp|join(', ') if ( (test_settings.tested_host_settings.ports.tcp != 'skip') and (test_settings.tested_host_settings.ports.tcp|length) ) else "" }} should be filtered on {{test_settings.tested_address}} [{{tested_hostnames_string}}]" {

    {%- if test_settings.skip != "" %}

    {{test_settings.skip}}

    {%- elif test_settings.tested_host_settings.ports.tcp == 'skip' %}

    skip "expected-closed TCP ports test is to be skipped for {{ test_settings.tested_address }} [{{tested_hostnames_string}}]"

    {%- else %}

    function test_ports {

        {%- if test_settings.tested_address|ipv4 %}

        SCAN_RESULT="$( nmap -Pn -p1-65535 -T5 --min-rate 200 --max-retries 1 --max-scan-delay 200ms --max-rtt-timeout 100ms --host-timeout 60m -oN - {{test_settings.tested_address}} )"

        {%- elif test_settings.tested_address|ipv6 %}

        SCAN_RESULT="$( nmap -6 -Pn -p1-65535 -T5 --min-rate 200 --max-retries 1 --max-scan-delay 200ms --max-rtt-timeout 100ms --host-timeout 60m -oN - {{test_settings.tested_address}} )"

        {%- endif -%}

        {%- if test_settings.tested_host_settings.ports.tcp|length %}

        echo "$SCAN_RESULT" | egrep -v '^({{ test_settings.tested_host_settings.ports.tcp|join('|') }})/tcp' | egrep '^[0-9]+/tcp +(open|closed)'

        {%- else %}

        echo "$SCAN_RESULT" | egrep '^[0-9]+/tcp +(open|closed)'

        {%- endif %}

    }
    run test_ports
    echo "$output"
    [ "$status" -eq 1 ]

    {%- endif %}

}


# check if UDP ports that are supposed to be open, are
# 
# this can lead to mildly surprising results when a port is expected to be open,
# is not filtered, but there is no service running on it, in which case it is `closed`
# which in turn means that it will show as "closed" here
#
# also, consider the difficulty of scanning UDP ports, and the 'open|filtered' state:
# https://nmap.org/book/scan-methods-udp-scan.html
# 
@test "[zone:{{ tested_zone }}] UDP ports {{ test_settings.tested_host_settings.ports.udp|join(', ') if ( (test_settings.tested_host_settings.ports.udp != 'skip') and (test_settings.tested_host_settings.ports.udp|length) ) else "<none>" }} should be open on {{test_settings.tested_address}} [{{tested_hostnames_string}}]" {

    {%- if test_settings.skip != "" %}

    {{test_settings.skip}}

    {%- elif test_settings.tested_host_settings.ports.udp == 'skip' %}

    skip "expected-open UDP ports test is to be skipped for {{ test_settings.tested_address }} [{{tested_hostnames_string}}]"

    {%- else -%}
        {%- if test_settings.tested_host_settings.ports.udp|length %}

    function test_ports {

            {%- if test_settings.tested_address|ipv4 %}

        SCAN_RESULT="$( nmap -Pn -sU -p{{ test_settings.tested_host_settings.ports.udp|join(',') }} -T5 --host-timeout 60m -oN - {{test_settings.tested_address}} )"

            {%- elif test_settings.tested_address|ipv6 %}

        SCAN_RESULT="$( nmap -6 -Pn -sU -p{{ test_settings.tested_host_settings.ports.udp|join(',') }} -T5 --host-timeout 60m -oN - {{test_settings.tested_address}} )"

            {%- endif %}

        echo "$SCAN_RESULT" | egrep '^({{ test_settings.tested_host_settings.ports.udp|join('|') }})/udp ' | egrep '^({{ test_settings.tested_host_settings.ports.udp|join('|') }})/udp +((open\|)?filtered|closed)'
    }
    run test_ports
    echo "$output"
    [ "$status" -eq 1 ]

        {%- else %}

    skip "No UDP ports are supposed to be open"

        {%- endif -%}
    {%- endif %}

}


# check if any unexpected UDP ports are not filtered
@test "[zone:{{ tested_zone }}] all UDP ports{{ " other than " ~ test_settings.tested_host_settings.ports.udp|join(', ') if ( (test_settings.tested_host_settings.ports.udp != 'skip') and (test_settings.tested_host_settings.ports.udp|length) ) else "" }} should be filtered on {{test_settings.tested_address}} [{{tested_hostnames_string}}]" {

    {%- if test_settings.skip != "" %}

    {{test_settings.skip}}

    {%- elif test_settings.tested_host_settings.ports.udp == 'skip' %}

    skip "expected-closed UDP ports test is to be skipped for {{ test_settings.tested_address }} [{{tested_hostnames_string}}]"

    {%- else %}

    function test_ports {

        {%- if test_settings.tested_address|ipv4 %}

        SCAN_RESULT="$( nmap -Pn -sU -p1-65535 -T5 --min-rate 200 --max-retries 1 --max-scan-delay 200ms --max-rtt-timeout 100ms --host-timeout 60m -oN - {{test_settings.tested_address}} )"

        {%- elif test_settings.tested_address|ipv6 %}

        SCAN_RESULT="$( nmap -6 -Pn -sU -p1-65535 -T5 --min-rate 200 --max-retries 1 --max-scan-delay 200ms --max-rtt-timeout 100ms --host-timeout 60m -oN - {{test_settings.tested_address}} )"

        {%- endif -%}

        {%- if test_settings.tested_host_settings.ports.udp|length %}

        echo "$SCAN_RESULT" | egrep -v '^({{ test_settings.tested_host_settings.ports.udp|join('|') }})/udp' | egrep '^[0-9]+/udp +(open|closed) +'

        {%- else %}

        echo "$SCAN_RESULT" | egrep '^[0-9]+/udp +(open|closed) +'

        {%- endif %}

    }
    run test_ports
    echo "$output"
    [ "$status" -eq 1 ]

    {%- endif %}

}
