##################################
# IP address : {{ test_settings.tested_address }}
# hostnames  : {{ test_settings.tested_hostnames|join(', ') }}
# zone       : {{ tested_zone }}
#
# host settings assembled from (in order):
# - {{ test_settings.settings_stack | join('\n# - ') }}
#
{{ test_settings.tested_host_settings | to_nice_yaml | comment -}}
##################################

{#-
 # we're only interested in TLS ports
-#}
{%- for port in test_settings.tested_host_settings.ports.tls -%}

    {#- we need a protocol name -#}
    {%- set testssl_protocol_options="" -%}
    {%- if test_settings.tested_host_settings.ports.tls[port] == 'tls' -%}
      {%- set tested_protocol = "Generic TLS" -%}
    {%- elif test_settings.tested_host_settings.ports.tls[port] == 'https' -%}
      {%- set tested_protocol = "HTTPS" -%}
      {%- set testssl_protocol_options="--assume-http" -%}
    {%- elif test_settings.tested_host_settings.ports.tls[port] is string and test_settings.tested_host_settings.ports.tls[port] != "" %}
      {%- set tested_protocol = "%s STARTTLS" % test_settings.tested_host_settings.ports.tls[port]|upper -%}
      {%- set testssl_protocol_options="--starttls %s" % test_settings.tested_host_settings.ports.tls[port] -%}
    {%- endif -%}
    
    {#- there is no way to break out of an ansible loop, so we throw an error if tested_protocol did not get set -#}
    {%- set _=tested_protocol|mandatory('Unsupported TLS port type: %s' % test_settings.tested_host_settings.ports.tls[port]) -%}
    
    {%- for tested_hostname in test_settings.tested_hostnames -%}
      {%- set batsible_testssl_results_varname = "BATSIBLE_TESTSSL_%s_PORT_%s" % (tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_'), port) %}
      {%- if test_settings.skip == "" %}


if [ -z "${{batsible_testssl_results_varname}}" ]; then
  
  # get a tempfile
  BATSIBLE_TEMPFILE="$( mktemp /tmp/{{batsible_testssl_results_varname}}.XXXXX )"

  # run testssl, output to tempfile, stderr into an envar
  export {{batsible_testssl_results_varname}}_ERROR="$(
    testssl{% if ansible_facts.os_family == "FreeBSD" %}.sh{% endif %} --quiet \
              --jsonfile="$BATSIBLE_TEMPFILE" \
              --ip {{test_settings.tested_address}} {{testssl_protocol_options}} \
              {{tested_hostname}}:{{port}} 2>&1 >/dev/null | head -n 1 || true
  )"
  
  # put the output in an envvar
  export {{batsible_testssl_results_varname}}="$( cat "$BATSIBLE_TEMPFILE" )"
  # cleanup
  rm "$BATSIBLE_TEMPFILE"

  # testssl < 3.0.x has a bug where it does not output a correctly formatted JSON
  # fix is easy: make sure the JSON array is properly opened and closed
  if [[ "${{batsible_testssl_results_varname}}" != "["*"]" ]];
    then export {{batsible_testssl_results_varname}}="[${{batsible_testssl_results_varname}}]";
  fi
fi
      {%- endif %}


function filter_testssl_{{tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_')}}_port_{{port}} {
  echo "${{batsible_testssl_results_varname}}" | jq ".[]|select(.severity == \"$1\")" || echo -e "Invalid JSON data:\n${{batsible_testssl_results_varname}}"
}

@test "[zone:{{ tested_zone }}] no 'CRITICAL' severity {{tested_protocol}} issues for {{tested_hostname}}:{{port}} [{{test_settings.tested_address}}:{{port}}]" {
  {{test_settings.skip}}
  if [[ "${{batsible_testssl_results_varname}}_ERROR" != "" ]]; then
    skip "${{batsible_testssl_results_varname}}_ERROR";
  fi
  run filter_testssl_{{tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_')}}_port_{{port}} "CRITICAL"
  echo "$output"
  [ "$output" == "" ]

}

@test "[zone:{{ tested_zone }}] no 'HIGH' severity {{tested_protocol}} issues for {{tested_hostname}}:{{port}} [{{test_settings.tested_address}}:{{port}}]" {
  {{test_settings.skip}}
  if [[ "${{batsible_testssl_results_varname}}_ERROR" != "" ]]; then
    skip "${{batsible_testssl_results_varname}}_ERROR";
  fi
  run filter_testssl_{{tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_')}}_port_{{port}} "HIGH"
  echo "$output"
  [ "$output" == "" ]

}

@test "[zone:{{ tested_zone }}] no 'MEDIUM' severity {{tested_protocol}} issues for {{tested_hostname}}:{{port}} [{{test_settings.tested_address}}:{{port}}]" {
  {{test_settings.skip}}
  if [[ "${{batsible_testssl_results_varname}}_ERROR" != "" ]]; then
    skip "${{batsible_testssl_results_varname}}_ERROR";
  fi
  run filter_testssl_{{tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_')}}_port_{{port}} "MEDIUM"
  echo "$output"
  [ "$output" == "" ]

}

@test "[zone:{{ tested_zone }}] no 'LOW' severity {{tested_protocol}} issues for {{tested_hostname}}:{{port}} [{{test_settings.tested_address}}:{{port}}]" {
  {{test_settings.skip}}
  if [[ "${{batsible_testssl_results_varname}}_ERROR" != "" ]]; then
    skip "${{batsible_testssl_results_varname}}_ERROR";
  fi
  run filter_testssl_{{tested_hostname|replace('.', '_')|replace('-', '_')|replace('*', '_')}}_port_{{port}} "LOW"
  echo "$output"
  [ "$output" == "" ]

}

    {%- endfor %}

{% endfor %}
