SHELL={{ which_bash | default("/bin/bash") }}
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin

# Prober test suite
18      1       *       *       *       root    {{ tests_directory }}/run-tests.sh >> /var/log/infra-probers.log 2>&1
