UserParameter=net.tests.results[*],{{ tests_directory }}/results-zabbix-lld.sh $1
UserParameter=net.tests.resultlog[*],RESULTFILE="` echo "$1" | sed -r -e 's/^-/*/' `" && RESULTFILE="`realpath "{{ output_directory }}/$RESULTFILE"`" && [ "`dirname "$RESULTFILE"`" == "{{ output_directory }}" ] && cat "$RESULTFILE"
