# The exclude file may contain comments that start with # and extend to the end of the line.
# https://nmap.org/book/man-target-specification.html

# 
# IP addresses exposed in zones
# 
# these will be scanned one by one, and so are excluded from the full-block scan
# 
{% for target in per_ip_targets_list %}
{{ target[0] }} # {{ target[1:]|join(', ') }}
{% endfor %}

# 
# IP addresses explicitly ignored
# 
{{ default_address_block_settings.ignore_ips|default([])|join('\n') }}
