#!/usr/local/bin/bash

#
# Infra probers port scanning results low-level discovery for Zabbix
# https://www.zabbix.com/documentation/4.0/manual/discovery/low_level_discovery
#

RESULTS_DIR="{{ output_directory }}"
RESULTS_ZONE="{{ tested_zone }}"

{% raw %}

# start the JSON output
echo "{"
echo -ne "\t\"data\": ["

# loop through tap files in the results directory and generate JSON from their names
# format:
# {#RESULTFILE}   : absolute path to the .tap file
# {#RESULTDOMAIN} : domain name the result is form
# {#RESULTIP}     : IP address the result is for
echo "$RESULTS_DIR"/*_"$1"-*.tap \
    | tr ' ' '\n' \
    | sed -r -e 's|^(/.+/)\*|\1-|' \
    | sed -r -e $'s|^/.+/(([^/_]+)(_([^_/-]+))?_[0-9]+-(.+).tap)$|{\\\n\\\t\\\t"{#RESULTFILE}":   "\\1",\\\n\\\t\\\t"{#RESULTDOMAIN}": "\\2",\\\n\\\t\\\t"{#RESULTIP}":     "\\4",\\\n\\\t\\\t"{#RESULTZONE}":   "'$RESULTS_ZONE$'"\\\n\\\t}|' \
    | sed -r -e $'$!N;s#\\}\\n\\{#},{#;P;D' \
    | sed -r -e '$ s/$/]/'

echo "}"

{% endraw %}
