#!/usr/bin/env bash

#
# this is the bash automated tests runner
# 
# handles PATH shenanigans, running tests in parallel,
# and dumping output somewhere sane
#

#
# config

echo
echo "preparing a test run..."
echo

# directories
TESTS_DIR="{{ tests_directory }}"
OUTPUT_DIR="{{ output_directory }}"

# some information
echo "+-- test run config:"
echo "    TESTS_DIR                : $TESTS_DIR"
echo "    OUTPUT_DIR               : $OUTPUT_DIR"

# this timestamp is used in commit messages and git tags
TEST_TIMESTAMP="$( date +%F )"
echo "    TEST_TIMESTAMP           : $TEST_TIMESTAMP"

# how many tests do we start in a batch, before we wait for the running ones to finish?
# 0 means no limit (run all tests at the same time)
SIMULTANEOUS_TESTS_COUNT={{ simultaneous_tests_count | default(0, true) }}
echo "    SIMULTANEOUS_TESTS_COUNT : $SIMULTANEOUS_TESTS_COUNT"

# 
# bugfix for bats on FreeBSD
# doesn't affect Debian
export PATH="/usr/local/libexec/bats-core/:$PATH"

#
# reality check -- make sure directories exist
# and if not, try to create them
echo "+-- making sure directories exist..."
[ -d "$TESTS_DIR" ] || mkdir -p "$TESTS_DIR" || exit 1
[ -d "$OUTPUT_DIR" ] || mkdir -p "$OUTPUT_DIR" || exit 2

#
# remove any old test results in the output directory
echo "+-- cleaning the output directory..."
rm -rf "$OUTPUT_DIR"/*.tap

{% raw %}

# we need this in the run_test_file function
export OUTPUT_DIR

#
# run the tests, putting output in the output dir
# per test file
# 
# yes, we do assume there is no whitespace in file names
echo
echo "starting tests at $( date "+%F %T" )."
echo

# we need a function for all this
# so that we can use xargs to parallelize this
function run_test_file() {
    
    # get the output file path
    OUTPUT_FILE="$OUTPUT_DIR"/"$( basename "$1" )"
    OUTPUT_FILE="${OUTPUT_FILE%.bats}.tap"
    
    # inform
    echo -e "+-- test   : $1\n" \
             "   output : $OUTPUT_FILE\n" \
             "   pid    : $$"
    
    # run the tests
    bats --tap "$1" > "$OUTPUT_FILE"
    echo "*   process finished: $$"
}
# we need to export it to make it work with xargs
# c.f. https://stackoverflow.com/questions/11003418/calling-shell-functions-with-xargs/11003457#11003457
export -f run_test_file

# using xargs to parallelize, and in a safe way too!
find "$TESTS_DIR" -name '*.bats' | xargs -I '{}' -n 1 -P "$SIMULTANEOUS_TESTS_COUNT" bash -c 'run_test_file "$@"' _ {}

# a fail safe in case we miss some test-case running in the background
echo "*   apparently done with all tests!"
echo
echo "*** tests done at $( date "+%F %T" )."
echo

# let's go into the OUTPUT_DIR and check if it's a git repo
OLDPWD="$PWD"
cd "$OUTPUT_DIR"

# well, is it?
if git status -sb >/dev/null 2>&1; then
    echo "output directory is a git repository; adding, committing, and tagging..."
    git add ./
    git commit -m "$TEST_TIMESTAMP"
    git tag "$TEST_TIMESTAMP"
    
    # do we have any remotes?
    if git rev-parse --abbrev-ref --symbolic-full-name @{u} >/dev/null 2>&1; then
        git pull --rebase && git push
    fi
fi

cd "$OLDPWD"

echo
echo "all done."
echo

{% endraw %}
